BasedOnStyle: LLVM

# === Indentation and Spacing ===
IndentWidth: 2
TabWidth: 2
UseTab: Never

# === Line Length ===
ColumnLimit: 80

# === Pointer and Reference Alignment ===
DerivePointerAlignment: false
PointerAlignment: Left        # 'Type* var' instead of 'Type *var'
SpaceBeforeParens: ControlStatements

# - Variables start with lowercase letters

# === Misc ===
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
# PenaltyBreakAssignment: 2
# PenaltyBreakBeforeFirstCallParameter: 19 # default is 19 